.border-circle
  border: 1px solid black
  border-radius: 100%
  padding: 3px

.main-title, .secondary-title
  font-weight: 400
  margin-top: 30px


.index-container
  display: flex
  flex-flow: column nowrap
  align-items: center
  justify-content: center
  align-content: center


.footer
  background-color: inherit
  color: inherit
  display: flex
  flex-direction: column
  min-width: 20%
  max-width: 70%
  align-items: flex-end
  padding: 20px
  text-align: center
  font-size: 1.2rem

.link:active, .link:visited
  color: inherit
